input {
    margin: 10px;
    padding: 5px 10px;
    font-size: 20px;
}

.form {
    font-size: 20px;
}

.form button {
    background-color: transparent;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: .3s;
}

.form button:hover {
    background-color: black;
    color: white;
}